* {
  margin: 0;
  padding: 0; }

ol {
  list-style-type: none; }

.accordion-button {
  background: #eeeeee !important;
  color: #1b1a17 !important;
  border-radius: 1rem !important;
  border: #1b1a17 1px solid !important; }

.accordion-button:hover {
  background: #1b1a17 !important;
  color: #eeeeee !important;
  border: #1b1a17 1px solid !important; }

.accordion-item {
  border-radius: 2rem !important;
  margin: 1rem 0;
  border: none; }

body {
  height: 100%;
  background-color: #f0a500 !important;
  font-family: "Montserrat", sans-serif; }

header .socialsContenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #1b1a17;
  color: white;
  top: 0px;
  left: 0px; }
  header .socialsContenedor .btn-menu {
    display: none; }
  header .socialsContenedor .socials {
    text-align: center; }
    header .socialsContenedor .socials img {
      margin-inline: 0.3rem; }
      header .socialsContenedor .socials img:hover {
        border-radius: 50%;
        border: #e6d5b8 3px solid;
        padding: 2px; }

header #btn-menu {
  display: none; }

header .cont-menu {
  display: grid;
  grid-template-columns: 11fr 1fr;
  justify-content: left;
  background-color: #333;
  align-items: center; }
  header .cont-menu nav {
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #333;
    padding: 0 20px; }
    header .cont-menu nav .navOp {
      display: block !important;
      color: #eeeeee !important;
      text-align: center !important;
      padding: 10px 16px !important;
      text-decoration: none !important; }
      header .cont-menu nav .navOp:hover {
        background-color: #1b1a17;
        color: #e6d5b8;
        border-bottom: #e45826 0.2rem solid; }
    header .cont-menu nav #active {
      background-color: #f0a500;
      color: #1b1a17;
      border-bottom: #1b1a17 0.2rem solid; }
    header .cont-menu nav .socialsNav {
      display: none; }
  header .cont-menu img {
    width: 32px; }
  header .cont-menu label {
    display: none; }

.footer {
  display: block;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #eeeeee;
  background-color: #1b1a17; }
  .footer .contenedor {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr; }
    .footer .contenedor .categorias {
      font-weight: 400;
      font-size: 15px; }
      .footer .contenedor .categorias .redirecCat {
        display: grid;
        grid-template-columns: repeat(auto-fill, 33%);
        justify-content: center;
        text-align: center; }
        .footer .contenedor .categorias .redirecCat .footerOp {
          padding: 30px 30px 20px 30px;
          color: #e6d5b8;
          list-style: none; }
    .footer .contenedor .socials {
      text-align: center; }
      .footer .contenedor .socials img {
        margin-inline: 0.3rem; }
        .footer .contenedor .socials img:hover {
          border-radius: 50%;
          border: #e6d5b8 3px solid;
          padding: 2px; }
  .footer .copy {
    margin-top: 0.5rem; }

@media screen and (max-width: 1220px) {
  .socials img {
    width: 32px; }
  .footer .contenedor {
    display: block;
    justify-content: center; }
    .footer .contenedor .logoFooter {
      display: flex;
      justify-content: center; }
    .footer .contenedor .socials {
      padding-top: 2rem;
      display: block;
      justify-content: center; }
      .footer .contenedor .socials img {
        width: 1.5rem; }
    .footer .contenedor .categorias {
      display: block;
      justify-content: center; }
      .footer .contenedor .categorias h3 {
        display: flex;
        justify-content: center;
        font-size: medium;
        margin-top: 20px; }
      .footer .contenedor .categorias .redirecCat {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        font-size: small;
        margin-inline: -50px; }
        .footer .contenedor .categorias .redirecCat .footerOp {
          padding: 30px 30px 20px 30px;
          color: #e6d5b8;
          list-style: none; }
  .footer .copy {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 550px) {
  header .socialsContenedor {
    display: grid;
    grid-template-columns: 1fr 11fr; }
    header .socialsContenedor .btn-menu {
      display: block; }
    header .socialsContenedor a {
      display: grid;
      justify-content: center; }
    header .socialsContenedor .socials {
      display: none; }
  header #btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible; }
    header #btn-menu:checked ~ .container-menu .cont-menu {
      transform: translateX(0%); }
      header #btn-menu:checked ~ .container-menu .cont-menu label {
        display: block;
        right: 5px;
        top: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 18px; }
    header #btn-menu:checked ~ .container-menu ::-webkit-scrollbar {
      display: none; }
  header .container-menu {
    position: absolute;
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }
    header .container-menu .cont-menu {
      width: 100%;
      max-width: 250px;
      background-color: #333;
      align-items: stretch;
      height: 100vh;
      position: fixed;
      transition: all 500ms ease;
      transform: translateX(-100%);
      z-index: 1; }
      header .container-menu .cont-menu nav {
        /* transform: translateY(15%); */
        display: grid;
        background-color: #333;
        margin-top: 100px; }
        header .container-menu .cont-menu nav .socialsNav {
          position: absolute;
          display: flex;
          bottom: 50px;
          left: 15px; }
          header .container-menu .cont-menu nav .socialsNav img {
            width: 32px;
            margin-inline: 10px; }
        header .container-menu .cont-menu nav a {
          display: block;
          text-decoration: none;
          padding: 14px 16px !important;
          height: 42px !important;
          color: #c7c7c7;
          border-left: 5px solid transparent;
          transition: all 400ms ease; }
        header .container-menu .cont-menu nav .navOp {
          display: block !important;
          color: #eeeeee !important;
          text-align: center !important;
          padding: 14px 16px !important;
          text-decoration: none !important; }
          header .container-menu .cont-menu nav .navOp:hover {
            background-color: #333 !important;
            color: #e6d5b8 !important;
            border-bottom: #e6d5b8 solid 5px !important; }
        header .container-menu .cont-menu nav #active {
          background-color: #333;
          border-bottom: 5px solid #f0a500;
          color: #e6d5b8; }
      header .container-menu .cont-menu div .groupIcon {
        display: none; }
      header .container-menu .cont-menu label {
        position: absolute;
        right: 5px;
        top: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 18px; }
  .footer .contenedor {
    display: block;
    justify-content: center; }
    .footer .contenedor .socials {
      padding-top: 2rem;
      display: block;
      justify-content: center; }
      .footer .contenedor .socials img {
        width: 1.5rem; }
    .footer .contenedor .categorias {
      display: block;
      justify-content: center; }
      .footer .contenedor .categorias h2 {
        display: flex;
        justify-content: center;
        font-size: medium;
        margin-top: 20px; }
      .footer .contenedor .categorias .redirecCat {
        display: grid;
        grid-template-columns: 12fr;
        justify-content: center;
        text-align: center; }
        .footer .contenedor .categorias .redirecCat .footerOp {
          padding: 30px 30px 20px 30px;
          color: #e6d5b8;
          list-style: none; }
  .footer .copy {
    display: flex;
    justify-content: center; } }

.buttonIndex {
  background-color: #e6d5b8;
  color: #1b1a17;
  width: 200px;
  border: none;
  padding: 0.25rem !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 1rem !important; }
  .buttonIndex:hover {
    background-color: #1b1a17;
    color: white; }
  .buttonIndex:active {
    background-color: #e6d5b8;
    color: #1b1a17; }

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-evenly; }
  .tags .tag {
    background-color: #e45826;
    color: white;
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
    border-radius: 1rem; }

.containerPrincipal {
  background-color: #eeeeee;
  margin: 2rem;
  padding: 1rem 0.5rem;
  border-radius: 1rem; }
  .containerPrincipal .carrouselContainer {
    position: sticky; }
    .containerPrincipal .carrouselContainer .slide {
      max-width: 100%;
      height: 600px;
      margin: auto; }
      .containerPrincipal .carrouselContainer .slide .carousel-inner .carousel-item img {
        max-width: 100%;
        height: 600px;
        border-radius: 1rem; }
  .containerPrincipal .containerCard {
    background-color: white;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .containerPrincipal .containerCard .row .col-md-4 .img-fluid {
      border-radius: 1rem; }
    .containerPrincipal .containerCard .row .col-md-8 h3 {
      text-align: center; }

@media screen and (max-width: 1220px) {
  .containerPrincipal .carrouselContainer .slide {
    max-width: 100%;
    max-height: 400px;
    margin: auto; }
    .containerPrincipal .carrouselContainer .slide .carousel-inner .carousel-item img {
      max-width: 100%;
      max-height: 400px; }
  .containerPrincipal .containerSectionIndex img {
    max-width: 30rem;
    margin: 1rem 2rem; } }

@media screen and (max-width: 580px) {
  .containerPrincipal .carrouselContainer .slide {
    max-width: 100%;
    height: 200px;
    margin: auto; }
    .containerPrincipal .carrouselContainer .slide .carousel-inner .carousel-item img {
      max-width: 100%;
      height: 200px; }
  .containerPrincipal .containerSectionIndex {
    background-color: white;
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .containerPrincipal .containerSectionIndex img {
      max-width: 18rem;
      margin: 1rem 2rem; }
    .containerPrincipal .containerSectionIndex .containerSectionIndex-text {
      margin: 0.5rem;
      padding: 1rem;
      border-radius: 2rem;
      width: 50rem;
      height: 18rem; }
      .containerPrincipal .containerSectionIndex .containerSectionIndex-text .tags {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        margin-bottom: 0.5rem; }
        .containerPrincipal .containerSectionIndex .containerSectionIndex-text .tags .tag {
          background-color: #e45826;
          color: white;
          padding: 0.1rem;
          text-align: center;
          font-size: 10px;
          font-weight: bold;
          border-radius: 20rem; }
      .containerPrincipal .containerSectionIndex .containerSectionIndex-text h3 {
        font-size: 15px; }
      .containerPrincipal .containerSectionIndex .containerSectionIndex-text p {
        font-size: 10px; } }

@media screen and (max-width: 400px) {
  .containerPrincipal .containerSectionIndex {
    background-color: white;
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px; }
    .containerPrincipal .containerSectionIndex img {
      max-width: 15rem;
      margin: 1rem 2rem; }
    .containerPrincipal .containerSectionIndex .containerSectionIndex-text {
      padding: 1rem;
      border-radius: 2rem;
      max-width: 15rem;
      height: 400px; }
      .containerPrincipal .containerSectionIndex .containerSectionIndex-text button {
        display: flex;
        justify-content: center;
        align-items: flex-end; } }

.talle {
  background-color: #e6d5b8;
  color: #1b1a17;
  width: 100px;
  border: none;
  padding: 1rem !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 1rem !important; }
  .talle:hover {
    background-color: #e45826;
    color: #1b1a17; }
  .talle:active {
    background-color: #e6d5b8;
    color: #1b1a17; }

#carrito {
  background-color: #1b1a17;
  color: white;
  width: 200px;
  border: none;
  padding: 1rem !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 1rem !important; }
  #carrito:hover {
    background-color: #f0a500;
    color: #1b1a17; }
  #carrito:active {
    background-color: #1b1a17;
    color: #1b1a17; }

.containerProduct {
  margin: 2rem 1rem;
  background-color: #eeeeee;
  padding: 4rem;
  border-radius: 1rem; }
  .containerProduct section nav .breadcrumb-item {
    list-style: none !important;
    text-decoration: none;
    color: #333 !important; }
    .containerProduct section nav .breadcrumb-item a {
      list-style: none !important;
      text-decoration: none;
      color: #333 !important; }
  .containerProduct section .containerSection {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 600px);
    justify-content: center;
    align-items: center; }
    .containerProduct section .containerSection .imagenProduct img {
      width: 35rem; }
    .containerProduct section .containerSection .contenedor {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center; }
      .containerProduct section .containerSection .contenedor .precio {
        font-size: 4rem; }
      .containerProduct section .containerSection .contenedor .talles {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 13px;
        justify-content: center;
        margin: 2rem 0; }
        .containerProduct section .containerSection .contenedor .talles .talle {
          border: #e45826 1px solid;
          border-radius: 2rem; }
          .containerProduct section .containerSection .contenedor .talles .talle:hover {
            border: #e45826 1px solid; }
  .containerProduct section .accordion .accordion-item .accordion-collapse .accordion-body .listasDesc {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem; }
    .containerProduct section .accordion .accordion-item .accordion-collapse .accordion-body .listasDesc .listDesc {
      display: grid; }
      .containerProduct section .accordion .accordion-item .accordion-collapse .accordion-body .listasDesc .listDesc .descOp {
        font-weight: bold; }

@media screen and (max-width: 1220px) {
  .containerProduct section .containerSection {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 600px);
    justify-content: center;
    align-items: center; }
    .containerProduct section .containerSection .imagenProduct {
      display: grid;
      justify-content: center; }
      .containerProduct section .containerSection .imagenProduct img {
        max-width: 25rem; }
    .containerProduct section .containerSection .contenedor {
      display: grid;
      justify-content: center;
      grid-template-columns: 400px;
      text-align: center; }
      .containerProduct section .containerSection .contenedor .precio {
        font-size: 4rem; }
      .containerProduct section .containerSection .contenedor .talles {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        margin: 2rem auto; }
        .containerProduct section .containerSection .contenedor .talles .talle {
          width: 70px; } }

@media screen and (max-width: 500px) {
  .containerProduct section .containerSection {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    align-items: center; }
    .containerProduct section .containerSection .imagenProduct {
      display: grid;
      justify-content: center; }
      .containerProduct section .containerSection .imagenProduct img {
        max-width: 17rem; }
    .containerProduct section .containerSection .contenedor {
      display: grid;
      justify-content: center;
      grid-template-columns: 400px;
      text-align: center; }
      .containerProduct section .containerSection .contenedor h1 {
        font-size: 22px; }
      .containerProduct section .containerSection .contenedor .precio {
        font-size: 40px; }
      .containerProduct section .containerSection .contenedor .talles {
        font-size: 10px; }
        .containerProduct section .containerSection .contenedor .talles .talle {
          width: 60px; } }

@media screen and (max-width: 320px) {
  .containerProduct section .containerSection {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    align-items: center; }
    .containerProduct section .containerSection .imagenProduct {
      display: grid;
      justify-content: center; }
      .containerProduct section .containerSection .imagenProduct img {
        max-width: 12rem; }
    .containerProduct section .containerSection .contenedor {
      grid-template-columns: 300px; }
      .containerProduct section .containerSection .contenedor h1 {
        font-size: 20px; }
      .containerProduct section .containerSection .contenedor .precio {
        font-size: 30px; }
      .containerProduct section .containerSection .contenedor .talles {
        grid-gap: 3px;
        font-size: 8px;
        justify-content: center; }
        .containerProduct section .containerSection .contenedor .talles .talle {
          width: 55px; } }

.buttonArticulo {
  background-color: #e45826;
  color: white;
  width: 100%;
  border: none;
  padding: 1rem !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 1rem !important; }
  .buttonArticulo:hover {
    background-color: #1b1a17;
    color: white; }
  .buttonArticulo:active {
    background-color: #e45826;
    color: #1b1a17; }

.bodyContainerShop {
  margin: 2rem 1rem;
  padding: 3rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  background-color: #eeeeee; }
  .bodyContainerShop aside .asideSection {
    margin-top: 2rem; }
    .bodyContainerShop aside .asideSection .accordion .accordion-item .accordion-collapse .search {
      display: grid;
      grid-template-columns: 4fr 1fr; }
      .bodyContainerShop aside .asideSection .accordion .accordion-item .accordion-collapse .search input {
        max-width: 150px;
        padding: 0.4rem 0.25rem;
        background: transparent;
        color: #1b1a17;
        font-size: 1rem;
        border-radius: 1rem;
        margin-right: 0.5rem; }
  .bodyContainerShop .containerArticulos {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr); }
    .bodyContainerShop .containerArticulos .articulo {
      height: 30rem;
      width: 19rem;
      margin: 1rem;
      padding: 0.2rem;
      border: 1px solid #e45826;
      grid-column: span 1;
      grid-row: span 1; }
      .bodyContainerShop .containerArticulos .articulo .aArticulo {
        text-decoration: none;
        display: block;
        color: #1b1a17; }
      .bodyContainerShop .containerArticulos .articulo:hover {
        text-decoration: none;
        background-color: #333;
        color: #eeeeee !important; }
    .bodyContainerShop .containerArticulos .imagen {
      display: flex;
      justify-content: center; }
      .bodyContainerShop .containerArticulos .imagen img {
        display: flex;
        justify-content: center;
        width: 18rem; }
      .bodyContainerShop .containerArticulos .imagen:hover {
        text-decoration: none;
        color: #eeeeee !important; }
    .bodyContainerShop .containerArticulos .textos {
      margin-top: 0.4rem;
      height: 7rem; }
      .bodyContainerShop .containerArticulos .textos:hover {
        color: #eeeeee !important; }
    .bodyContainerShop .containerArticulos .buttonArticulo {
      margin-top: 5px; }
  .bodyContainerShop .page-link {
    background-color: #333 !important;
    color: #eeeeee !important; }
    .bodyContainerShop .page-link:hover {
      background-color: #f0a500 !important;
      color: #333 !important; }

@media screen and (max-width: 1220px) {
  .bodyContainerShop {
    margin: 2rem 1rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    display: grid;
    justify-content: center; }
    .bodyContainerShop aside .asideSection {
      margin-top: 2rem; }
      .bodyContainerShop aside .asideSection .accordion .accordion-item .accordion-collapse .search {
        display: grid;
        grid-template-columns: 8fr 1fr;
        align-items: center; }
        .bodyContainerShop aside .asideSection .accordion .accordion-item .accordion-collapse .search input {
          width: 800px !important;
          padding: 0.4rem 0.25rem;
          background: transparent;
          color: #1b1a17;
          font-size: 1rem;
          border-radius: 1rem; }
    .bodyContainerShop .containerArticulos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: auto; }
      .bodyContainerShop .containerArticulos .articulo {
        width: 15rem;
        height: 25.5rem;
        margin: 0.2rem;
        padding: 0.2rem;
        grid-column: span 1;
        grid-row: span 1; }
        .bodyContainerShop .containerArticulos .articulo .imagen {
          display: flex;
          justify-content: center; }
          .bodyContainerShop .containerArticulos .articulo .imagen img {
            display: flex;
            justify-content: center;
            width: 14rem; }
        .bodyContainerShop .containerArticulos .articulo .textos {
          font-size: small;
          justify-content: center; }
        .bodyContainerShop .containerArticulos .articulo .buttonArticulo {
          margin-top: -2px; } }

@media screen and (max-width: 572px) {
  .bodyContainerShop .containerArticulos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto; }
    .bodyContainerShop .containerArticulos .articulo {
      width: 12rem;
      height: 23rem;
      margin: auto;
      padding: 0.2rem;
      grid-column: span 1;
      grid-row: span 1; }
      .bodyContainerShop .containerArticulos .articulo .imagen {
        display: flex;
        justify-content: center; }
        .bodyContainerShop .containerArticulos .articulo .imagen img {
          display: flex;
          justify-content: center;
          width: 11.5rem; }
      .bodyContainerShop .containerArticulos .articulo .textos {
        font-size: small;
        justify-content: center; }
      .bodyContainerShop .containerArticulos .articulo .buttonArticulo {
        margin-top: -2px; } }

.containerHelp {
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
  padding: 4rem 2rem;
  border-radius: 1rem; }

.butonContact {
  background-color: #1b1a17;
  color: white;
  width: 200px;
  border: none;
  padding: 1rem !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 1rem !important; }
  .butonContact:hover {
    background-color: #e45826;
    color: #1b1a17; }
  .butonContact:active {
    background-color: #1b1a17;
    color: #1b1a17; }

form {
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
  padding: 6rem 2rem;
  border-radius: 1rem; }
  form h2 {
    text-align: center;
    font-size: 50px; }

@media screen and (max-width: 1220px) {
  form h2 {
    font-size: 40px; } }

@media screen and (max-width: 500px) {
  form h2 {
    font-size: 15px; } }

.containerAbout {
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
  padding: 4rem 2rem;
  border-radius: 1rem; }
  .containerAbout h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center; }
  .containerAbout p {
    font-size: 1.5rem; }
  .containerAbout h2 {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center; }
  .containerAbout .valores {
    list-style-type: none;
    display: grid;
    justify-content: center; }
    .containerAbout .valores li {
      font-size: 1.5rem; }

@media screen and (max-width: 1220px) {
  .containerAbout h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .containerAbout p {
    font-size: 1rem; }
  .containerAbout h2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center; }
  .containerAbout .valores {
    list-style-type: none;
    display: grid;
    justify-content: center; }
    .containerAbout .valores li {
      font-size: 1.2rem; } }
