.butonContact{
  @include button(
    $colorNegro,
    white,
    $colorNaranja,
    $colorNegro,
    200px,
    1rem
  )
}


form {
  margin: 2rem 1rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $colorBlanco;
  padding: 6rem 2rem;
  border-radius: 1rem;
  h2 {
    text-align: center;
    font-size: $large;
  }
}
@media screen and (max-width: 1220px) {
  form {
    h2 {
      font-size: $medium;
    }
  }
}

@media screen and (max-width: 500px) {
  form {
    h2 {
      font-size: $small;
    }
  }
}
