* {
  margin: 0;
  padding: 0;
}
ol {
  list-style-type: none;
}

.accordion-button {
  background: $colorBlanco !important;
  color: $colorNegro !important;
  border-radius: 1rem !important;
  border: $colorNegro 1px solid !important;
}

.accordion-button:hover {
  background: $colorNegro !important;
  color: $colorBlanco !important;
  border: $colorNegro 1px solid !important;
}

.accordion-item {
  border-radius: 2rem !important;
  margin: 1rem 0;
  border: none;
}


body {
  height: 100%;
  background-color: $colorGris !important;
  font-family: "Montserrat", sans-serif;
}

header {
  .socialsContenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: $colorNegro;
    color: white;
    top: 0px;
    left: 0px;
    .btn-menu {
      display: none;
    }

    .socials {
      text-align: center;
      img {
        margin-inline: 0.3rem;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
          border-radius: 50%;
          border: $colorBeige 3px solid;
          padding: 2px;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
  #btn-menu {
    display: none;
  }
  .cont-menu {
    display: grid;
    grid-template-columns: 11fr 1fr;
    justify-content: left;
    background-color: $colorNegro;
    align-items: center;
    nav {
      display: flex;
      font-family: "Roboto Condensed", sans-serif;
      background-color: $colorNegro;
      padding: 0 20px;
      .navOp {
        display: block !important;
        color: $colorBlanco !important;
        text-align: center !important;
        padding: 10px 16px !important;
        text-decoration: none !important;
        &:hover {
          background-color: $colorNegro;
          color: $colorBeige;
          border-bottom: $colorAmarrillo 0.2rem solid;
          
        }
      }
      #active {
        background-color: $colorAmarrillo;
        color: $colorNegro !important;
        border-bottom: $colorGris 0.2rem solid;
      }
      .socialsNav {
        display: none;
      }
    }
    .icons{
      display: flex;
      .icon{
        .groupIcon{
          margin-inline: 10px;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          &:hover{
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
          }
        }
      }
    }
    label {
      display: none;
    }
  }
}
.footer {
  display: block;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: $colorBlanco;
  background-color: $colorNegro;
  .contenedor {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    .categorias {
      font-weight: 400;
      font-size: 15px;
      .redirecCat {
        display: grid;
        grid-template-columns: repeat(auto-fill, 33%);
        justify-content: center;
        text-align: center;
        .footerOp {
          padding: 30px 30px 20px 30px;
          color: $colorBeige;
          list-style: none;
        }
      }
    }
    .socials {
      text-align: center;
      img {
        margin-inline: 0.3rem;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
          border-radius: 50%;
          border: $colorBeige 3px solid;
          padding: 2px;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
  .copy {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1220px) {
  .socials {
    img {
      width: 32px;
    }
  }
  .footer {
    .contenedor {
      display: block;
      justify-content: center;
      .logoFooter {
        display: flex;
        justify-content: center;
      }
      .socials {
        padding-top: 2rem;
        display: block;
        justify-content: center;
        img {
          width: 1.5rem;
        }
      }
      .categorias {
        display: block;
        justify-content: center;
        h3 {
          display: flex;
          justify-content: center;
          font-size: medium;
          margin-top: 20px;
        }
        .redirecCat {
          flex-wrap: wrap;
          display: flex;
          justify-content: center;
          font-size: small;
          margin-inline: -50px;
          .footerOp {
            padding: 30px 30px 20px 30px;
            color: $colorAmarrillo;
            list-style: none;
          }
        }
      }
    }
    .copy {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 550px) {
  header{
    .socialsContenedor {
      display: grid;
      grid-template-columns: 1fr 11fr;
      .btn-menu {
        display: block;
      }
      a {
        display: grid;
        justify-content: center;
      }
      .socials {
        display: none;
      }
    }
    #btn-menu:checked~.container-menu {
      opacity: 1;
      visibility: visible;
      .cont-menu {
        transform: translateX(0%);
        label {
          display: block;
          right: 5px;
          top: 10px;
          color: $colorBlanco;
          cursor: pointer;
          font-size: 18px;
        }
      
      }
      ::-webkit-scrollbar {
        display: none;
      }
    }
    .container-menu {
      position: absolute;
      width: 100%;
      height: 60vh;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      .cont-menu {
        width: 100%;
        max-width: 250px;
        background-color: $colorNegro;
        align-items: stretch;
        height: 100vh;
        position: fixed;
        transition: all 500ms ease;
        transform: translateX(-100%);
        z-index: 1;
        nav {
          /* transform: translateY(15%); */
          display: grid;
          background-color: $colorNegro;
          margin-top: 100px;
          .socialsNav {
            position: absolute;
            display: flex;
            bottom: 50px;
            a {
              margin-inline: -2.5px;
              -webkit-transition: all 0.5s;
              transition: all 0.5s;
              img{
                width: 25px;
              }
              &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          
          }
          a {
            display: block;
            text-decoration: none;
            padding: 14px 16px !important;
            height: 42px !important;
            color: $colorBlanco;
            border-left: 5px solid transparent;
            transition: all 400ms ease;
          }
          .navOp {
            display: block !important;
            color: $colorBlanco !important;
            text-align: center !important;
            padding: 14px 16px !important;
            text-decoration: none !important;
            &:hover {
              background-color: $colorNegro !important;
              color: $colorAmarrillo !important;
              border-bottom: $colorAmarrillo solid 5px !important;
            }
          }
          #active {
            background-color: $colorNegro;
            border-bottom: 5px solid $colorAmarrillo ;
            color: $colorBlanco !important;
          }
        }
        .icons{
          .icon{
            .groupIcon{
             display: none;

            }
          }
        }
        label {
          position: absolute;
          right: 5px;
          top: 10px;
          color: $colorBlanco;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
    
    .footer {
    .contenedor {
      display: block;
      justify-content: center;
      .socials {
        padding-top: 2rem;
        display: block;
        justify-content: center;
        img {
          width: 1.5rem;
        }
      }
      .categorias {
        display: block;
        justify-content: center;
        h2 {
          display: flex;
          justify-content: center;
          font-size: medium;
          margin-top: 20px;
        }
        .redirecCat {
          display: grid;
          grid-template-columns: 12fr;
          justify-content: center;
          text-align: center;
          .footerOp {
            padding: 30px 30px 20px 30px;
            color: $colorBeige;
            list-style: none;
          }
        }
      }
    }
    .copy {
      display: flex;
      justify-content: center;
    }
  }
}
