* {
  margin: 0;
  padding: 0;
}
ol {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
.modalAlert{
  margin-top: 8rem;
  margin-right: 2rem;
  height: 40rem;
  background-color: $colorBlanco;
}

.bodyCart{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: $colorBlanco;
  border: 2px solid $colorGris;
  border-radius: .5rem;
  margin: .5rem 0;
  padding: .5rem;
  h4{
    font-size: 20px;
    color: $colorNegro;
  }
  .containerModal{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    width: 16rem;

    .imgCart{
      width: 6rem;
      border-radius: .5rem;
      padding: .2rem;
      margin-right: .2rem;
    }
    .textContainer{
      height: 5rem;
      text-align: start;
      p{
        padding: 0;
        margin: 0;
      }
    }
  }
}
#cartcount{
  color: $colorNegro;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $colorAmarrillo;
  position: absolute ;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 10;
  font-weight: bold;
  top: 5px;
  left: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
#cartcountNav{display: none;}

#flush-collapseOne{
  border:none !important;
}
.accordion-button {
  background: $colorBlanco !important;
  color: $colorNegro !important;
  border-radius: 1rem !important;
  border: $colorNegro 1px solid !important;
  padding: 0 1rem ;
  
}

.accordion-button:hover {
  background: $colorNegro !important;
  color: $colorBlanco !important;
  border: $colorNegro 2px solid !important;
}

.accordion-item {
  border-radius: 1rem !important;
  margin: 1rem 0;
  border: none !important;
}
.accordion-item div {
  border-radius: 1rem !important;
  padding-left: .5rem;
  border: none !important;
}



body {
  height: 100%;
  background-color: $colorGris !important;
  font-family: "Montserrat", sans-serif;
}

header {
  .socialsContenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: $colorNegro;
    color: white;
    top: 0px;
    left: 0px;
    .btn-menu {
      display: none;
    }

    .socials {
      text-align: center;
      img {
        margin-inline: 0.3rem;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
          border-radius: 50%;
          border: $colorBeige 3px solid;
          padding: 2px;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
  #btn-menu {
    display: none;
  }
  .cont-menu {
    display: grid;
    grid-template-columns: 11fr 1fr;
    justify-content: left;
    background-color: $colorNegro;
    align-items: center;
    nav {
      display: flex;
      font-family: "Roboto Condensed", sans-serif;
      background-color: $colorNegro;
      padding-top: 5px;
      padding: 0 20px;
      .navOp {
        display: block !important;
        color: $colorBlanco !important;
        text-align: center !important;
        padding: 10px 16px !important;
        text-decoration: none !important;
        &:hover {
          background-color: $colorNegro;
          color: $colorBeige;
          border-bottom: $colorAmarrillo 0.2rem solid;
          
        }
      }
      #active {
        background-color: $colorAmarrillo;
        color: $colorNegro !important;
        border-bottom: $colorGris 0.2rem solid;
      }
      .socialsNav {
        display: none;
      }
    }
    .searchNav{
      display: flex;
      align-items: center;
      margin-right: 4rem;
      input{
        background-color: $colorBeige;
        border-radius: 1rem;
        border: none;
        color: $colorNegro;
        padding-right:1.8rem ;
        padding-left:.8rem ;
        font-weight: bold;
        position: relative;
        font-size: 20px;
        width: 21rem;
      }
      label{
        position: absolute;
        display: block;
        font-size: 20px;
        color: $colorNegro;
        left: 95%;
        padding-top: 5px;
      }
    }
    .icons{
      display: flex;
      .icon{
        position: relative;
        .groupIcon{
          width: 40px;
          margin-inline: 10px;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          &:hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }
    }
    label {
      display: none;
    }
  }
  .iconsNav, .NavSearch{
    display: none;
}
}
.footer {
  display: block;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: $colorBlanco;
  background-color: $colorNegro;
  .contenedor {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    .categorias {
      font-weight: 400;
      font-size: 15px;
      .redirecCat {
        display: grid;
        grid-template-columns: repeat(auto-fill, 33%);
        justify-content: center;
        text-align: center;
        .footerOp {
          padding: 30px 30px 20px 30px;
          color: $colorBeige;
          list-style: none;
        }
      }
    }
    .socials {
      text-align: center;
      img {
        margin-inline: 0.3rem;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
          border-radius: 50%;
          border: $colorBeige 3px solid;
          padding: 2px;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
  .copy {
    margin-top: 0.5rem;
  }
}



@media screen and (max-width: 1220px) {
  .socials {
    img {
      width: 32px;
    }
  }
  .footer {
    .contenedor {
      display: block;
      justify-content: center;
      .logoFooter {
        display: flex;
        justify-content: center;
      }
      .socials {
        padding-top: 2rem;
        display: block;
        justify-content: center;
        img {
          width: 1.5rem;
        }
      }
      .categorias {
        display: block;
        justify-content: center;
        h2 {
          display: flex;
          justify-content: center;
          font-size: x-large;
          margin-top: 20px;
        }
        .redirecCat {
          flex-wrap: wrap;
          display: flex;
          justify-content: center;
          font-size: small;
          margin: auto;
          .footerOp {
            padding: 30px 30px 20px 30px;
            list-style: none;
          }
        }
      }
    }
    .copy {
      display: flex;
      justify-content: center;
    }
  }
  .modal {
    .modal-content {
      width: 20rem;
      left: 25rem !important;
      top:-2rem  !important;

      .headerModal{
        display: flex;
        justify-content: space-around;
      }
      .bodyCart{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: $colorBlanco;
        border: 2px solid $colorGris;
        border-radius: .5rem;
        margin: .5rem 1rem;
        padding: 1.5rem;
        .container{
          display: flex;
          align-items: center;
          justify-content:space-around ;
          width: 16rem;
          .imgCart{
            width: 6rem;
            border-radius: .5rem;
            padding: .2rem;
            margin-right: .2rem;
          }
          .textContainer{
            height: 5rem;
            p{
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .close {
        color: $colorNaranja;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .footerModal{
        text-decoration: none; 
        background-color: $colorNaranja;
        text-align: center;
        font-weight: bold;
        padding: .5rem 0;
        a{
          color: $colorBlanco;
          font-size: 20px;
        }
      }
    }
  }
  
}
@media screen and (max-width: 576px) {
  #cartcountNav{
    color: $colorNegro;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $colorAmarrillo;
    position: absolute;
    margin-left: 15px;
    margin-top: -35px;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 99;
    font-weight: bold;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    &:hover{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  #cartcount{
    display: none;
  }
  
  
  header{
    .socialsContenedor {
      display: grid;
      grid-template-columns: 1fr 11fr;
      .btn-menu {
        display: block;
      }
      a {
        display: grid;
        justify-content: center;
      }
      .socials {
        display: none;
      }
    }
    #btn-menu:checked~.container-menu {
      opacity: 1;
      visibility: visible;
      .cont-menu {
        transform: translateX(0%);
        label {
          display: block;
          right: 5px;
          top: 10px;
          color: $colorBlanco;
          cursor: pointer;
          font-size: 18px;
        }
      
      }
      ::-webkit-scrollbar {
        display: none;
      }
    }
    .container-menu {
      position: absolute;
      width: 100%;
      height: 60vh;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      .cont-menu {
        width: 100%;
        max-width: 250px;
        background-color: $colorNegro;
        align-items: stretch;
        height: 100vh;
        position: fixed;
        transition: all 500ms ease;
        transform: translateX(-100%);
        z-index: 1;
        nav {
          // transform: translateY(15%); 
          display: grid;
          background-color: $colorNegro;
          margin-top: 70px;
          height: 60vh;
          .socialsNav {
            position: absolute;
            display: flex;
            bottom: 90px;
            a {
              margin-inline: -2.5px;
              -webkit-transition: all 0.5s;
              transition: all 0.5s;
              img{
                width: 25px;
              }
              &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          
          }
          a {
            display: block;
            text-decoration: none;
            padding: 14px 16px !important;
            height: 42px !important;
            color: $colorBlanco;
            border-left: 5px solid transparent;
            transition: all 400ms ease;
          }
          .navOp {
            display: block !important;
            color: $colorBlanco !important;
            text-align: center !important;
            padding: 14px 16px !important;
            text-decoration: none !important;
            &:hover {
              background-color: $colorNegro !important;
              color: $colorAmarrillo !important;
              border-bottom: $colorAmarrillo solid 5px !important;
            }
          }
          #active {
            background-color: $colorNegro;
            border-bottom: 5px solid $colorAmarrillo ;
            color: $colorBlanco !important;
          }
        }
        .searchNav{
          display: none;
        }
        .icons{
          .icon{
            .groupIcon{
             display: none;

            }
          }
        }
        label {
          position: absolute;
          right: 5px;
          top: 10px;
          color: $colorBlanco;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
    .iconsNav{
      background-color: $colorNegro;
      width: 100%;
      display: flex;
      justify-content: end;
      padding:0.5rem 1rem;
      .icon{
        margin-inline: 10px;
      }
  }
  .NavSearch{
    position: relative;
    display: flex;
    align-items: center;
    padding:.5rem 1rem;
    background-color: $colorNegro;
    width: 100%;
    justify-content: end;
    input{
      background-color: $colorBeige;
      border-radius: 1rem;
      border: none;
      color: $colorNegro;
      padding-right:2.3rem ;
      padding-left:.6rem ;
      font-weight: bold;
      position: relative;
      font-size: 20px;
      width: 10rem;
    }
    label{
      position: absolute;
      display: block;
      font-size: 20px;
      color: $colorNegro;
      padding-right: 10px;
      padding-top: 5px;      
    }
  }
  }
    
    .footer {
    .contenedor {
      display: block;
      justify-content: center;
      .socials {
        padding-top: 2rem;
        display: block;
        justify-content: center;
        img {
          width: 1.5rem;
        }
      }
      .categorias {
        display: block;
        justify-content: center;
        h2 {
          display: flex;
          justify-content: center;
          font-size: large;
          margin-top: 20px;
        }
        .redirecCat {
          display: grid;
          grid-template-columns: 12fr;
          justify-content: center;
          text-align: center;
          margin: auto;

        }
      }
    }
    .copy {
      display: flex;
      justify-content: center;
    }
  }
  .modal {
    .modal-content {
      width: 20rem;
      left: 5rem !important;
      top:3rem  !important;

      .headerModal{
        display: flex;
        justify-content: space-around;
      }
      .bodyCart{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: $colorBlanco;
        border: 2px solid $colorGris;
        border-radius: .5rem;
        margin: .5rem 1rem;
        padding: 1.5rem;
        .container{
          display: flex;
          align-items: center;
          justify-content:space-around ;
          width: 16rem;
          .imgCart{
            width: 6rem;
            border-radius: .5rem;
            padding: .2rem;
            margin-right: .2rem;
          }
          .textContainer{
            height: 5rem;
            p{
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .close {
        color: $colorNaranja;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .footerModal{
        text-decoration: none; 
        background-color: $colorNaranja;
        text-align: center;
        font-weight: bold;
        padding: .5rem 0;
        a{
          color: $colorBlanco;
          font-size: 20px;
        }
      }
    }
  }

}
