 .containerHelp{
	margin: 2rem 1rem;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $colorBlanco;
	padding: 4rem 2rem;
	border-radius: 1rem;
 }
 @media screen and (max-width: 1220px) {

}

@media screen and (max-width: 500px) {
    
}