.containerHome {
  .imagenPrincipal {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, $colorGris 90%),
      url("../image/home/fc-barcelona-2022-23-nike-home-kit-h.jpg");
  }
  .listarImagenes {
    margin-top: -50px;
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 2px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 68, 0, 0.066);
      border-radius: 10px;
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      border: 0;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    .containerItem{
      position: relative;
      width: 200px;
      height: 120px;
      margin-inline: 10px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      .image {
        display: block;
        width: 200px;
        height: 120px;
        border-radius: 1rem;
        &:hover{
          -webkit-transform: scale(1.02);
          transform: scale(1.02);
          
        }
      }
      .overlay {
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $colorNegro;
        border-radius: 1rem;
        font-weight: bold;
        
        .text {
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }
      &:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

      } 
      &:hover .overlay {
        opacity: 0.85;
        
      }
    }
    &::-webkit-scrollbar {
      width: 2px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(33, 33, 33, 0.066);
      border-radius: 10px;
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      border: 0;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  .bestSeller{
    background-color: $colorNegro;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
    h2{
      color: $colorBlanco;
    }
    .containerBestSeller{
      display: grid;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-gap: 1rem;
      justify-content: center;
      .article{
        margin: 1rem auto;
        padding: 20px;
        background-color: $colorBlanco;
        border-radius: .5rem;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        position: relative;
        &:hover{
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
  
        } 
        img{
          width: 280px;
        }
        .overlay {
          object-fit: cover;
          position: absolute;
          bottom: 5px;
          left: 10px;
          right: 10px;
          width: 94%;
          height: 15%;
          opacity: 0;
          transition: .5s ease;
          background-color: $colorNegro;
          border-radius: 1rem;
          font-weight: bold;
          
          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            a{
              text-decoration: none;
              color: $colorBlanco;
            }
          }
        }
        &:hover{
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          height: 420px;
        } 
        &:hover .overlay {
          opacity:1;
        }
      }
    }
  }
  .containerVideos {
    margin: auto;
    background-color: $colorBlanco;
    h2 {
      color: $colorNegro;
      text-align: center;
      margin-bottom: 2rem;
    }
    .videos {
      display: grid;
      .video {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: .5rem 0;
        align-items: center;
        iframe {
          width: 300px;
          height: 180px;
        }
        .description {
          color: $colorNegro;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .containerHome{
    .imagenPrincipal {
      width: 100%;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: linear-gradient(transparent, $colorGris 80%),
        url("../image/home/fc-barcelona-2022-23-nike-home-kit-h.jpg");
    }
  }
}