.galeria {
  .imagenPrincipal {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(transparent, $colorNegro 90%),
      url("../image/home/fc-barcelona-2022-23-nike-home-kit-h.jpg");
  }
  .listarImagenes {
    margin-top: -50px;
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 2px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(33, 33, 33, 0.066);
      border-radius: 10px;
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      border: 0;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    .item {
      position: relative;
      margin: 10px 7px;
      transition: all 1s;
      opacity: 1;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      img {
        width: 200px;
        height: 120px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 1rem;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        h3 {
          transform: translate(-50%, -50%);
          margin: 0;
          text-align: center;
        }
      }
      &:hover {
        width: 210px;
        border: 5px solid $colorBeige;
        color: wheat;
        border-radius: 1rem;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.6;
      }
    }
  }
  .containerVideos {
    margin: 1rem 0;

    background-color: $colorBlanco;
    h2 {
      color: $colorNegro;
      text-align: center;
      margin-bottom: 2rem;
    }
    .videos {
      display: grid;
      .video {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: .5rem 0;
        align-items: center;
        iframe {
          width: 300px;
          height: 180px;
        }
        .description {
          color: $colorNegro;
        }
      }
    }
  }
}
