@mixin button ($colorFondo,$colorLetter,$colorFondoHover,$colorLetterHover, $width,$padding) {
    background-color: $colorFondo;
    color: $colorLetter;
    width: $width;
    border: none;
    padding: $padding !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 1rem !important;
    &:hover {
      background-color: $colorFondoHover;
      color: $colorLetterHover;
    }
    &:active {
      background-color: $colorFondo;
      color: $colorGrisOscuro;
    }
  }
  