.talle {
  @include button($colorBeige, $colorNegro, $colorNaranja, $colorNegro, 100px, 1rem);
}
.activeTalle {
  background-color: $colorNaranja;
  color: $colorNegro;
}

#carrito {
  @include button($colorNegro, white, $colorAmarrillo, $colorNegro, 200px, 1rem);
  -webkit-transition: all 1s;
  transition: all 1s;
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.containerProduct {
  margin: 2rem 1rem;
  background-color: $colorBlanco;
  padding: 4rem;
  border-radius: 1rem;
  section {
    nav {
      .breadcrumb-item {
        list-style: none !important;
        text-decoration: none;
        color: #333 !important;
        a {
          list-style: none !important;
          text-decoration: none;
          color: #333 !important;
        }
      }
    }
    .containerSection {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fill, 600px);
      justify-content: center;
      align-items: center;
      .imagenProduct {
        width: 35rem;
        figure.zoom {
          background-position: 50% 50%;
          position: relative;
          border: 5px solid $colorBeige;
          width: 35rem;
          border-radius: 1rem;
          overflow: hidden;
          cursor: zoom-in;
          img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
            height: 100%;
            &:hover {
              opacity: 0;
            }
          }
        }
        .imagenesAll{
          .imagenesExtra{
            width: 10rem;
            border-radius: .5rem;
            border: 2px solid $colorBeige;
          }
        }
      }
      .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        .precio {
          font-size: 4rem;
        }
        .talles {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          font-size: 13px;
          justify-content: center;
          margin: 2rem 0;
          .talle {
            border: $colorNaranja 1px solid;
            border-radius: 2rem;
            -webkit-transition: all 1s;
            transition: all 1s;
            &:hover {
              border: $colorNaranja 1px solid;
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
        }
        .containerAddCart {
          display: flex;
          align-items: center;
          input {
            border-radius: 1rem;
            border: 1px solid $colorNaranja;
            padding-left: 1rem;
            width: 5rem;
          }
        }
        #spanNotify {
          color: $colorGris;
          font-size: 20px;
          margin-left: 1rem;
        }
      }
    }
  }
  section {
    .accordion {
      .accordion-item {
        .accordion-collapse {
          .accordion-body {
            .listasDesc {
              display: flex;
              justify-content: space-evenly;
              margin-top: 2rem;
              .listDesc {
                display: grid;
                .descOp {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .containerProduct {
    section {
      .containerSection {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, 600px);
        justify-content: center;
        align-items: center;
        .imagenProduct {
          width: 32rem;
          margin: auto;
          figure.zoom {
            background-position: 50% 50%;
            position: relative;
            border: 5px solid $colorBeige;
            width: 32rem;
            border-radius: 1rem;
            overflow: hidden;
            cursor: zoom-in;
            img {
              transition: opacity 0.5s;
              display: block;
              width: 100%;
              height: 100%;
              &:hover {
                opacity: 0;
              }
            }
          }
          .imagenesAll{
            
            .imagenesExtra{
              width: 8rem;
              border-radius: .5rem;
              border: 2px solid $colorBeige;
            }
          }
        }
        .contenedor {
          display: grid;
          justify-content: center;
          grid-template-columns: 400px;
          text-align: center;
          .precio {
            font-size: 4rem;
          }
          .talles {
            display: flex;
            justify-content: center;
            margin: 2rem auto;
            .talle {
              width: 70px;
            }
          }
          .containerAddCart {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .containerProduct {
    padding: 1rem;
    section {
      .containerSection {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, 600px);
        justify-content: center;
        align-items: center;
        .imagenProduct {
          width: 20rem;
          margin: auto;
          figure.zoom {
            background-position: 50% 50%;
            position: relative;
            border: 5px solid $colorBeige;
            width: 20rem;
            border-radius: 1rem;
            overflow: hidden;
            cursor: zoom-in;
            img {
              transition: opacity 0.5s;
              display: block;
              width: 100%;
              height: 100%;
              &:hover {
                opacity: 0;
              }
            }
          }
          .imagenesAll{
            
            .imagenesExtra{
              width: 5rem;
              border-radius: .5rem;
              border: 2px solid $colorBeige;
            }
          }
        }
        .contenedor {
          display: grid;
          justify-content: center;
          grid-template-columns: 400px;
          text-align: center;
          width: 400px;
          margin: auto;
          h1 {
            font-size: 22px;
          }
          .precio {
            font-size: 40px;
          }
          .talles {
            font-size: 10px;
            margin: auto;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            .talle {
              width: 60px;
            }
          }
          .containerAddCart {
            margin: auto;
            justify-content: center;
          }
        }
      }
      section {
        .accordion {
          .accordion-item {
            .accordion-collapse {
              .accordion-body {
                .listasDesc {
                  display: grid;
                  margin: auto;
                  .listDesc {
                    display: grid;
                    margin: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
