.talle {
  @include button($colorBeige, $colorNegro, $colorNaranja, $colorNegro, 100px, 1rem);
}
.activeTalle {
  background-color: $colorNaranja;
  color: $colorNegro;
}

#carrito {
  @include button($colorNegro, white, $colorAmarrillo, $colorNegro, 200px, 1rem);
  -webkit-transition: all 1s;
  transition: all 1s;
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.containerProduct {
  margin: 2rem 1rem;
  background-color: $colorBlanco;
  padding: 4rem;
  border-radius: 1rem;
  section {
    nav {
      .breadcrumb-item {
        list-style: none !important;
        text-decoration: none;
        color: #333 !important;
        a {
          list-style: none !important;
          text-decoration: none;
          color: #333 !important;
        }
      }
    }
    .containerSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      .imagenProduct {
        width: 30rem;
        figure.zoom {
          background-position: 50% 50%;
          position: relative;
          border: 5px solid $colorBeige;
          width: 30rem;
          border-radius: 1rem;
          overflow: hidden;
          cursor: zoom-in;
          img {
            transition: opacity 0.5s;
            display: block;
            width: 100%;
            height: 100%;
            &:hover {
              opacity: 0;
            }
          }
        }
        .imagenesAll{
          display: flex;
          justify-content: center;
          .imagenesExtra{
            width: 8rem;
            border-radius: .5rem;
            border: 2px solid $colorBeige;
            margin-inline: .5rem;
          }
        }
      }
      .contenedor {
        display: grid;
        justify-content: center;
        margin: 2rem 0 2rem 7rem;
        .precio {
          font-size: 4rem;
        }
        .talles {
          display: grid;
          grid-gap: 5px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          font-size: 13px;
          justify-content: center;
          margin-top: 7rem;
          .talle {
            border: $colorNaranja 1px solid;
            border-radius: 2rem;
            -webkit-transition: all 1s;
            transition: all 1s;
            &:hover {
              border: $colorNaranja 1px solid;
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
        }
        .containerAddCart {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          input {
            border-radius: 1rem;
            border: 1px solid $colorNaranja;
            padding: 1rem;
            width: 5rem;
          }
        }
        #spanNotify {
          color: $colorGris;
          font-size: 20px;
          margin-left: 1rem;
        }
      }
    }
  }
  section {
    .accordion {
      .accordion-item {
        .accordion-collapse {
          .accordion-body {
            .listasDesc {
              display: flex;
              justify-content: space-evenly;
              margin-top: 2rem;
              .listDesc {
                display: grid;
                .descOp {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .containerProduct {
    section {
      .containerSection {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, 600px);
        justify-content: center;
        align-items: center;
        .imagenProduct {
          width: 32rem;
          margin: auto;
          figure.zoom {
            background-position: 50% 50%;
            position: relative;
            border: 5px solid $colorBeige;
            width: 32rem;
            border-radius: 1rem;
            overflow: hidden;
            cursor: zoom-in;
            img {
              transition: opacity 0.5s;
              display: block;
              width: 100%;
              height: 100%;
              &:hover {
                opacity: 0;
              }
            }
          }
          .imagenesAll{
            
            .imagenesExtra{
              width: 8rem;
              border-radius: .5rem;
              border: 2px solid $colorBeige;
            }
          }
        }
        .contenedor {
          display: block;
          justify-content: center;
          text-align: center;
          margin: auto;
          .precio {
            font-size: 4rem;
          }
          .talles {
            display: flex;
            justify-content: center;
            margin: 2rem auto;
            .talle {
              width: 70px;
            }
          }
          .containerAddCart {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  .modal {

    .modal-content {
      background-color: $colorBlanco;
      margin: 15% auto; 
      border: 1px solid $colorNegro;
      width: 20rem;
      left: 30%;
      top:-15%;
      overflow: auto !important; 
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      animation-name: animatetop;
      animation-duration: 0.8s;  
      .headerModal{
        display: flex;
        justify-content: space-around;
      }
      .bodyCart{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: $colorBlanco;
        border: 2px solid $colorGris;
        border-radius: .5rem;
        margin: .5rem 1rem;
        padding: 1.5rem;
        .container{
          display: flex;
          align-items: center;
          justify-content:space-around ;
          width: 16rem;
          .imgCart{
            width: 6rem;
            border-radius: .5rem;
            padding: .2rem;
            margin-right: .2rem;
          }
          .textContainer{
            height: 5rem;
            p{
              padding: 0;
              margin: 0;
            }
          }
        }
      }
      .close {
        color: $colorNaranja;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .footerModal{
        text-decoration: none; 
        background-color: $colorNaranja;
        text-align: center;
        font-weight: bold;
        padding: .5rem 0;
        a{
          color: $colorBlanco;
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .containerProduct {
    margin: 1rem !important;
    padding: 1rem;
    section {
      .containerSection {
        display: block;
        justify-content: center;
        align-items: center;
        .imagenProduct {
          width: 20rem;
          margin: auto;
          figure.zoom {
            background-position: 50% 50%;
            position: relative;
            border: 5px solid $colorBeige;
            width: 20rem;
            border-radius: 1rem;
            overflow: hidden;
            cursor: zoom-in;
            img {
              transition: opacity 0.5s;
              display: block;
              width: 100%;
              height: 100%;
              &:hover {
                opacity: 0;
              }
            }
          }
          .imagenesAll{

            .imagenesExtra{
              width: 5rem;
              border-radius: .5rem;
              border: 2px solid $colorBeige;
            }
          }
        }
        .contenedor {
          display: block;
          justify-content: center;
          text-align: center;
          margin: auto;
          h1 {
            font-size: 22px;
            width: 20rem;
            margin: auto;
          }
          p{
            width: 20rem;
            margin: auto;
          }
          .precio {
            font-size: 40px;
            width: 20rem;
            margin: auto;
          }
          .talles {
            font-size: 10px;
            margin: auto;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            .talle {
              width: 60px;
            }
          }
          .containerAddCart {
            margin: auto;
            justify-content: center;
          }
        }
      }
      section {
        .accordion {
          .accordion-item {
            .accordion-collapse {
              .accordion-body {
                .listasDesc {
                  display: grid;
                  margin: auto;
                  .listDesc {
                    display: grid;
                    margin: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
