.buttonArticulo {
  @include button($colorNaranja, white, $colorNegro, white, 70%, 1rem);
}
.view {
  @include button($colorNegro, white, $colorAmarrillo, black, 30%, 1rem);
  button {
    background-color: transparent;
    color: $colorBlanco;
    border: none;
  }
  &:hover {
    color: $colorNegro;
  }
}

#nikecheck:checked ~ #adidas {
  display: none;
}

.bodyContainerShop {
  margin: 2rem 1rem;
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: $colorBlanco;
  aside {
    display: flex;
    justify-content: center;
    .asideSection {
      width: 16rem;
      .accordion {
        .accordion-item {
          .accordion-collapse {
            .search {
              display: grid;
              margin-bottom: 1rem;
              input {
                max-width: 85%;
                padding: 0.4rem 0.25rem;
                background: transparent;
                color: $colorNegro;
                font-size: 1rem;
                border-radius: 1rem;
                margin-right: 0.5rem;
                margin-left: -1rem;
              }
            }
          }
        }
      }
    }
  }
  .containerArticulos {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    .articulo {
      height: 22rem;
      width: 17rem;
      margin: 0.5rem;
      padding: 0.2rem;
      border-radius: 1rem;
      border: 5px solid $colorBeige;
      grid-column: span 1;
      grid-row: span 1;
      opacity: 1;
      -webkit-transition: all 1s;
      transition: all 1s;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
    .imagen {
      display: flex;
      justify-content: center;
      img {
        display: flex;
        justify-content: center;
        width: 16rem;
        border-radius: 0.5rem;
      }
      &:hover {
        text-decoration: none;
        color: $colorBlanco !important;
      }
    }
    .textos {
      color: $colorNegro;
      text-decoration: none !important;
      margin-top: 0.4rem;
      height: 6rem;
      padding-left: 0.2rem;
      .title{
        font-size: 22px;
      }
      .precioEtiqueta {
        display: flex;
        justify-content: space-between;
        p {
          text-decoration: none !important;
          font-size: 22px;
        }
        .etiqueta{
          font-weight: bold;
          color: $colorBlanco;
          border-radius: 1rem;
          padding: .2rem;
          margin-right: 1rem;
        }
      }
    }
    .containerButton {
      margin-top: -5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .page-link {
    background-color: $colorNegro !important;
    color: $colorBlanco !important;
    &:hover {
      background-color: $colorAmarrillo !important;
      color: $colorNegro !important;
    }
  }
}
@media screen and (max-width: 1220px) {
  .bodyContainerShop {
    position: relative;
    display: grid;
    justify-content: center;
    margin: 1rem;
    aside {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      left: 0;
      right: 0;
      .asideSection {
        width: 20rem;
        .accordion {
          .accordion-item {
            .accordion-collapse {
              .search {
                input {
                  max-width: 100%;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
    .containerArticulos {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
      .articulo {
        width: 13rem;
        height: 20.2rem;
        .imagen {
          img {
            width: 12rem;
          }
        }
        .textos {
          font-size: small;
        }
        .containerButton {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .buttonArticulo,
          .view {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 572px) {
  .bodyContainerShop {
    aside {
      .asideSection {
        width: 15rem;
        .accordion {
          .accordion-item {
            .accordion-collapse {
              .search {
                display: grid;
                grid-template-columns: 9fr 1fr;
                input {
                  max-width: 70%;
                }
              }
            }
          }
        }
      }
    }
    .containerArticulos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
      .articulo {
        width: 16rem;
        height: 21.5rem;
        margin: auto;

        .imagen {
          display: flex;
          justify-content: center;
          img {
            width: 15rem;
          }
        }
        .textos {
          h3 {
            font-size: 22px;
          }
        }
        .containerButton {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .buttonArticulo,
          .view {
            font-size: 14px;
          }
        }
      }
    }
  }
}
