.buttonArticulo{
  @include button($colorNaranja, white, $colorNegro, white, 100%, 1rem);
}
.view {
  @include button($colorNegro, white, $colorAmarrillo, black, 100%, 1rem);
}

#nikecheck:checked~#adidas{
  display: none;
}


.bodyContainerShop {
  margin: 2rem 1rem;
  padding: 3rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  background-color: $colorBlanco;
  aside {
    display: flex;
    justify-content: center;
    .asideSection {
      width: 20rem;
      .accordion {
        .accordion-item {
          .accordion-collapse {
            .search {
              display: grid;
              grid-template-columns: 11fr 1fr;
              input {
                max-width: 150px;
                padding: 0.4rem 0.25rem;
                background: transparent;
                color: $colorNegro;
                font-size: 1rem;
                border-radius: 1rem;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .containerArticulos {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    .articulo {
      height: 35.2rem;
      width: 24rem;
      margin: 1rem;
      padding: 0.2rem;
      border-radius: 1rem;
      border: 5px solid $colorBeige;
      grid-column: span 1;
      grid-row: span 1;
      -webkit-transition: all 1s;
      transition: all 1s;
      opacity: 1;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      .aArticulo {
        text-decoration: none;
        display: block;
        color: $colorNegro;
      }
      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
    .imagen {
      display: flex;
      justify-content: center;
      img {
        display: flex;
        justify-content: center;
        width: 23rem;
        border-radius: 0.5rem;
      }
      &:hover {
        text-decoration: none;
        color: $colorBlanco !important;
      }
    }
    .textos {
      margin-top: 0.4rem;
      height: 7rem;
      p {
        font-size: 22px;
      }

    }
    .containerButton{
      margin-top: 0;
    }
  }

  .page-link {
    background-color: $colorNegro !important;
    color: $colorBlanco !important;
    &:hover {
      background-color: $colorAmarrillo !important;
      color: $colorNegro !important;
    }
  }
}
@media screen and (max-width: 1220px) {
  .bodyContainerShop {
    position: relative;
    display: grid;
    justify-content: center;
    margin: 1rem;
    aside {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      left: 0;
      right: 0;
      .asideSection {
        width: 20rem;
        .accordion {
          .accordion-item {
            .accordion-collapse {
              .search {
                input {
                  max-width: 20rem;
                }
              }
            }
          }
        }
      }
    }
    .containerArticulos {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
      .articulo {
        width: 19rem;
        height: 30.2rem;
        .imagen {
          img {
            width: 18rem;
          }
        }
        .textos {
          font-size: small;
        }
      }
    }
  }
}

@media screen and (max-width: 572px) {
  .bodyContainerShop {
    aside {
      .asideSection {
        width: 15rem;
      }
    }
    .containerArticulos {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: auto;
      .articulo {
        width: 16rem;
        height: 26.7rem;
        margin: auto;

        .imagen {
          display: flex;
          justify-content: center;
          img {
            width: 15rem;
          }
        }
        .textos {
          h3 {
            font-size: 22px;
          }
        }
        .buttonArticulo {
          font-size: 15px;
        }
      }
    }
  }
}
